*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  background-size: cover;
  object-fit: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}
