.oig-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-image-oig-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oig-main-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
}

.oig-main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-out;
  box-shadow: none !important;
}

.oig-main-image.next {
  animation: slideLeft 0.3s forwards;
}

.oig-main-image.prev {
  animation: slideRight 0.3s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.oig-image-counter {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  margin-top: 10px;
}

.oig-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.oig-prev-btn {
  left: 20px;
}

.oig-next-btn {
  right: 20px;
}

.oig-thumbnail-strip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-width: 80%;
  overflow-x: auto;
  margin-top: 2rem;
}

.oig-thumbnail-strip::-webkit-scrollbar {
  display: none;
}

.album-image-box {
  position: relative;
}

.oig-thumbnail {
  width: 80px;
  height: 55px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  opacity: 0.7;
}

.oig-thumbnail.active {
  opacity: 1;
  transform: scale(1.2);
  border: 1px solid #007bff;
}

@media (max-width: 900px) {
  .oig-main-image-container {
    width: 70vw;
    height: 62vw;
  }
}

@media (max-width: 600px) {
  /* .oig-thumbnail-strip {
    display: none;
  } */

  .oig-nav-btn {
    font-size: 30px;
    padding: 5px;
  }
}
